@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$c-dark-blue: #2b6777;
$c-light-blue: #c8d8e4;
$c-white: #ffffff;
$c-gray: #f2f2f2;
$c-green: #52ab98;



// Resets ===============================================
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $c-gray;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}


// Main ===============================================

.page {
    .page__container {
        display: flex;
        justify-content: space-between;

        width: 100%;
        
        padding: 5rem;

    }

    .page__input {
        max-height: 100%;
    }

    .page__output {
        max-height: 100%;
    }

    .page__h1 {
        color: $c-dark-blue;
        
        text-transform: uppercase;

        font-family: 'Poppins';
        font-size: 3rem;
        font-weight: 300;

        margin-left: 2rem;
        margin-bottom: 1rem;

    }

    .page__textarea {
        background-color: $c-white;
        border-radius: 15px;
        border: none;
        box-shadow: 1px 2px 15px rgba($color: #000000, $alpha: .16);
    }
}

.test {
    display: none;
}